@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  @apply bg-[#FAFAFA] text-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neu {
  border-radius: 52px;
  background: #e0e0e0;
  box-shadow: inset 24px 24px 78px #bebebe, inset -24px -24px 78px #ffffff;
}

.bg_glass {
  background: rgba(234, 228, 228, 0.331);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
/* MyComponent.module.css */
/* .option.selected {
 color: #BEF264;
}

.option .checkbox{
 background-color: #BEF264;
}

.option:hover {
  background-color: #BEF264;
} */
/* 
 .upDropdown {
    background: #fff;
    border-radius: 4px;
    margin-top: 1px;
    position: absolute;
    width: 100%;
    bottom: 3rem;
    right: 0;
    z-index: 2;
} */

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

/* wave form style */
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.play-button:hover {
  background: #ddd;
}

.wave {
  width: 100%;
  height: 80px;
}

.waveform-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  /* width: 100%; */
  background: transparent;
}

.detail-waveform-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
  width: 100%;
  background: transparent;
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #666666;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #666666;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #bbe445;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px; /* Adjust to align thumb with track */
}

.progress-bar::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #666666;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.progress-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #bbe445;
  cursor: pointer;
  border-radius: 50%;
}

.progress-bar::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent; /* Required for proper track styling */
  border-color: transparent;
  color: transparent;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.progress-bar::-ms-fill-lower {
  background: #bbe445;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.progress-bar::-ms-fill-upper {
  background: #666666;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

/* Custom styling for the filled portion */
.progress-bar::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #bbe445 0%,
    #bbe445 var(--value),
    #666666 var(--value),
    #666666 100%
  );
}

.progress-container {
  position: relative;
  width: 100%;
}

input[type="range"].progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  outline: none;
  position: relative;
}

input[type="range"].progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    #bbe445 0%,
    #bbe445 var(--progress),
    #666666 var(--progress),
    #666666 100%
  );
  border-radius: 4px;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: pointer;
}

input[type="range"].progress-bar::-moz-range-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    #bbe445 0%,
    #bbe445 var(--progress),
    #666666 var(--progress),
    #666666 100%
  );
  border-radius: 4px;
}

input[type="range"].progress-bar::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  cursor: pointer;
}

/* Custom circular thumb */
.custom-thumb {
  position: absolute;
  top: 60%; /* Center vertically */
  right: 5%;
  transform: translateY(-50%); /* Adjust to align with the track */
  width: 16px;
  height: 16px;
  background: #bbe445;
  border-radius: 50%;
  pointer-events: none; /* Make it non-interactive */
}

/* wave form end */

.description-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vidbg {
  background-color: #f4f6f6;
}
/* cart scroll bar css start */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d65b59;
  border-radius: 10px;
}

/* cart scroll bar css end */

.detail-wave {
  width: 100%;
  /* height: 300px; */
}
.detail-play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fe423f;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.detail-play-button:hover {
  background: #fe423f;
}
/* radio */
.custom-radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fe423f;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.custom-radio.checked::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fe423f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vidbg {
  background-color: #f4f6f6;
}
/*  share  CSS start */
.custom-share-button {
  margin: 0 5px;
  border-radius: 8px;
}

.custom-share-button > div {
  background-color: #fe423f; /* Custom button color */
  color: #fff; /* Text color */
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container for sidebar and main content */
.sidebar-container {
  display: flex;
  height: 100vh;
}
body {
  top: 0 !important;
  position: static !important;
}

.skiptranslate {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

#google_translate_element select {
  background-color: #f6edfd;
  color: #383ffa;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
}

/* masonry css */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.slick-slide > div {
  margin: 0 10px;
  
}

/* .slick-slide {
background-color: black;
} */

.slick-prev {
  left: -25px;
  background-color: black;
}

.slick-next {
  right: -25px;
  background-color: black;
}

.slick-prev:before,
.slick-next:before {
  color: #FA00FF;
}